In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("K:\ML project\IPL\IPLpred.csv")
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,05-04-2017,SRH,RCB,RCB,field,normal,0,SRH,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,06-04-2017,MI,RPS,RPS,field,normal,0,RPS,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,07-04-2017,GL,KKR,KKR,field,normal,0,KKR,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
3,4,2017,Indore,08-04-2017,RPS,KXIP,KXIP,field,normal,0,KXIP,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
4,5,2017,Bangalore,08-04-2017,RCB,DD,RCB,bat,normal,0,RCB,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN

In [3]:
df.shape

(565, 17)

In [4]:
df.describe()

               id       season  dl_applied  win_by_runs  win_by_wickets
count  565.000000   565.000000  565.000000   565.000000      565.000000
mean   283.000000  2012.879646    0.021239    13.824779        3.366372
std    163.245725     2.686919    0.144308    24.035496        3.418546
min      1.000000  2008.000000    0.000000     0.000000        0.000000
25%    142.000000  2011.000000    0.000000     0.000000        0.000000
50%    283.000000  2013.000000    0.000000     0.000000        4.000000
75%    424.000000  2015.000000    0.000000    21.000000        6.000000
max    565.000000  2017.000000    1.000000   146.000000       10.000000

In [5]:
df.count()

id                 565
season             565
city               558
date               565
team1              565
team2              565
toss_winner        565
toss_decision      565
result             565
dl_applied         565
winner             562
win_by_runs        565
win_by_wickets     565
player_of_match    562
venue              565
umpire1            564
umpire2            564
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
inputs=df.drop(['season','date','player_of_match'],axis='columns')
inputs.head()

,id,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,umpire1,umpire2
0,1,Hyderabad,SRH,RCB,RCB,field,normal,0,SRH,35,0,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,Pune,MI,RPS,RPS,field,normal,0,RPS,0,7,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,Rajkot,GL,KKR,KKR,field,normal,0,KKR,0,10,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
3,4,Indore,RPS,KXIP,KXIP,field,normal,0,KXIP,0,6,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
4,5,Bangalore,RCB,DD,RCB,bat,normal,0,RCB,15,0,M Chinnaswamy Stadium,NaN,NaN

In [8]:
type(df['city'][0])

str

In [9]:
d=df['city'].tolist()
e=df['winner'].tolist()
f=df['umpire1'].tolist()
g=df['umpire2'].tolist()

## Pre-processing

In [10]:
inputs['city'] = le.fit_transform(d)
inputs['dl_applied']=le.fit_transform(inputs['dl_applied'])
inputs['toss_decision']=le.fit_transform(inputs['toss_decision'])
inputs['team1']=le.fit_transform(inputs['team1'])
inputs['team2']=le.fit_transform(inputs['team2'])
inputs['toss_winner']=le.fit_transform(inputs['toss_winner'])
inputs['winner']=le.fit_transform(e)
inputs['result']=le.fit_transform(inputs['result'])
inputs['venue'] = le.fit_transform(inputs['venue'])
inputs['umpire1'] = le.fit_transform(f)
inputs['umpire2'] = le.fit_transform(g)
inputs.head()

,id,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,umpire1,umpire2
0,1,8,11,8,8,1,1,0,11,35,0,16,5,23
1,2,15,6,9,9,1,1,0,9,0,7,13,1,33
2,3,17,3,4,4,1,1,0,4,0,10,18,26,11
3,4,9,9,5,5,1,1,0,5,0,6,9,2,9
4,5,2,8,2,8,0,1,0,8,15,0,11,41,43

In [11]:
max(inputs['city'])

21

In [29]:
target=inputs['winner']

In [30]:
inputs_n=inputs.drop(['winner','id'],axis='columns')

In [31]:
inputs_n.head()

,city,team1,team2,toss_winner,toss_decision,result,dl_applied,win_by_runs,win_by_wickets,venue,umpire1,umpire2
0,8,11,8,8,1,1,0,35,0,16,5,23
1,15,6,9,9,1,1,0,0,7,13,1,33
2,17,3,4,4,1,1,0,0,10,18,26,11
3,9,9,5,5,1,1,0,0,6,9,2,9
4,2,8,2,8,0,1,0,15,0,11,41,43

In [32]:
target.head()

0    11
1     9
2     4
3     5
4     8
Name: winner, dtype: int64


## Train test split

In [43]:
x=inputs_n
y=target
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=17)
print('Xtrain:',xtrain.shape)
print('Xtest:',xtest.shape)
print('Ytrain:',ytrain.shape)
print('Ytest:',ytest.shape)

Xtrain: (452, 12)
Xtest: (113, 12)
Ytrain: (452,)
Ytest: (113,)

## Decision Trees

In [44]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()

In [45]:
clf.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [46]:
ypred=clf.predict(xtest)
ypred

array([ 5,  4,  8,  6,  6,  6,  1,  1,  8,  9, 10,  6, 11,  4,  0,  2,  6,
        4,  3,  4,  8,  3,  4,  4, 11,  8,  8,  7,  5,  5,  6,  8,  8,  6,
       11,  4,  3,  1,  2,  8,  5,  4,  2,  2,  8,  6,  8,  6,  0, 10,  5,
       11,  2, 10,  5, 10,  4,  5,  4,  8,  5, 11,  4,  5, 11,  5,  6,  9,
       11, 11,  1,  5,  6,  6,  2,  2,  5,  6, 11,  6, 10,  8,  6,  4,  0,
       10,  1,  9, 10,  8,  0,  4,  6,  6,  0,  8,  6,  2,  0,  5,  6,  6,
       11,  3, 11,  5,  5,  9,  6,  4,  0, 10,  0], dtype=int64)

## Final Score

In [47]:
clf.score(xtest,ytest)

0.8230088495575221

## Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [22]:
lr.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
y_pred=lr.predict(xtest)

In [24]:
lr.score(xtest,ytest)

0.25663716814159293

## SVM

In [25]:
from sklearn import svm
sv=svm.SVC(kernel='linear')
sv.fit(xtrain,ytrain)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [26]:
ypred=sv.predict(xtest)
ypred

array([ 8,  0,  5,  5, 10,  6, 10,  0,  8, 10,  8,  6,  6,  4,  0,  3,  6,
        3,  3,  0, 10,  6,  0,  4, 10,  6,  0,  4, 10,  0,  4,  0,  6,  6,
        5,  4,  2,  2,  3,  8,  0,  4,  3,  8,  8,  5,  8,  0,  0, 10,  5,
        9, 11,  6,  5,  6,  2,  5,  4, 10,  4,  8,  4,  0,  6,  8,  0, 10,
       11,  4,  0,  4,  5,  4,  3,  6,  5,  6, 11,  4,  6, 10,  5,  4,  0,
        5,  0,  4,  4,  0,  0,  0,  9,  6,  2,  6,  6,  0,  0,  5,  6,  6,
        4,  3, 11,  5,  6,  8,  4,  0,  4,  8,  9], dtype=int64)

In [27]:
from sklearn import metrics
p = metrics.accuracy_score(ytest, ypred)
p

0.3274336283185841

### So among all the classification algorithms, Decision tree classifier shows the maximum accuracy.

## Thanks for your reference.